.c-media-img {

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @include mq($until: tablet-port) {
        margin-bottom: $global-spacing-m;
    }
    

    &__bottom {
        grid-area: 2 / 2 / 9 / 8;
    }
    &__middle {
        grid-area: 4 / 3 / 11 / 9;
    }
    &__top {

        grid-area: 3 / 3 / 11 / 9;

    }

}