.c-media-img {

    position: relative;
    width: 305px;
    height: 315px;
    margin-bottom: $global-spacing-m;

    @include mq($from: tablet-port) {
        width: 509px;
        height: 527px;
        margin-bottom: 0;
    }
    
    &__bottom {

        position: absolute;
        top: 0;
        left: 0;

    }

    &__middle {

        position: absolute;
        bottom: 0;
        right: 0;

    }

    &__top {

        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 263px;

        @include mq($from: tablet-port) {

            max-width: 438px;

        }

    }

}