.c-payment {

    display: flex;
    margin-left: -7px;
    margin-bottom: $global-spacing-s;

    @include mq($from: tablet-port) {

        margin-bottom: 0;
        margin-left: -8px;

    }

    &__item {

        padding-left: 7px;
        margin: 0;

        @include mq($from: tablet-port) {

            padding-left: 8px;

        }

    }
    
}