<section class="o-section">
    <div class="o-wrap">
        <div class="c-carousel  js-carousel  glide">
            <header class="c-carousel__header">
                <svg class="c-icon  c-icon--paw">
                    <use xlink:href="#shape-paw"></use>
                </svg>
                <h3 class="c-carousel__heading">Our Best Sellers</h3>
            </header>
            <div class="c-carousel__track  glide__track"  data-glide-el="track">
                <div class="c-carousel__slides  glide__slides">
                    <div class="c-carousel__item  glide__slide">
                        <div class="c-carousel__image-wrap">
                            <img class="c-carousel__image" src="../assets/product1@2x.png" alt="Product 1">
                        </div>
                        <div class="c-carousel__content">
                            <h4 class="c-carousel__title">Natures Menu Dog Food Can Chicken</h4>
                            <span class="c-carousel__price">&pound;22.81</span>
                            <a class="c-carousel__button  c-button  c-button--secondary" href="#">View More</a>
                        </div>
                    </div>
                    <div class="c-carousel__item  glide__slide">
                        <div class="c-carousel__image-wrap">
                            <img class="c-carousel__image" src="../assets/product2@2x.png" alt="Product 2">
                        </div>
                        <div class="c-carousel__content">
                            <h4 class="c-carousel__title">Natures Menu Senior Dog Food Pouch Lamb with Chicken</h4>
                            <span class="c-carousel__price">&pound;11.92</span>
                            <a class="c-carousel__button  c-button  c-button--secondary" href="#">View More</a>
                        </div>
                    </div>
                    <div class="c-carousel__item  glide__slide">
                        <div class="c-carousel__image-wrap">
                            <img class="c-carousel__image" src="../assets/product3@2x.png" alt="Product 3">
                        </div>
                        <div class="c-carousel__content">
                            <h4 class="c-carousel__title">Real Meaty Dog Treats with Beef</h4>
                            <span class="c-carousel__price">&pound;2.09</span>
                            <a class="c-carousel__button  c-button  c-button--secondary" href="#">View More</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="c-carousel__arrows  glide__arrows" data-glide-el="controls">
                <button class="c-carousel__arrow  c-carousel__arrow--left  glide__arrow glide__arrow--left" data-glide-dir="<">
                    <svg class="c-icon  c-icon--prev">
                        <use xlink:href="#carousel-prev"></use>
                    </svg>
                </button>
                <button class="c-carousel__arrow  c-carousel__arrow--right  glide__arrow glide__arrow--right" data-glide-dir=">">
                    <svg class="c-icon  c-icon--next">
                        <use xlink:href="#carousel-next"></use>
                    </svg>
                </button>
            </div>
            <div class="c-carousel__bullets  glide__bullets" data-glide-el="controls[nav]">
                <button class="c-carousel__bullet  glide__bullet" data-glide-dir="=0"></button>
                <button class="c-carousel__bullet  glide__bullet" data-glide-dir="=1"></button>
                <button class="c-carousel__bullet  glide__bullet" data-glide-dir="=2"></button>
            </div>
        </div>
    </div>
</section>