<section class="">
    <div class="">
        <svg class="c-icon  c-icon--paw">
            <use xlink:href="#shape-paw"></use>
        </svg>
        <h3 class="">Our Best Sellers</h3>
        <div class="c-carousel">
            <div class="c-carousel__item">
                <img class="" src="../assets/product1@2x.png" alt="Product 1">
                <div class="">
                    <h4 class="">Natures Menu Dog Food Can Chicken</h4>
                    <span class="">&pound;22.81</span>
                    <a class="c-button  c-button--primary" href="#">View More</a>
                </div>
            </div>
            <div class="c-carousel__item">
                <img class="" src="../assets/product2@2x.png" alt="Product 2">
                <div class="">
                    <h4 class="">Natures Menu Senior Dog Food Pouch Lamb with Chicken</h4>
                    <span class="">&pound;11.92</span>
                    <a class="c-button  c-button--primary" href="#">View More</a>
                </div>
            </div>
            <div class="c-carousel__item">
                <img class="" src="../assets/product3@2x.png" alt="Product 3">
                <div class="">
                    <h4 class="">Real Meaty Dog Treats with Beef</h4>
                    <span class="">&pound;2.09</span>
                    <a class="c-button  c-button--primary" href="#">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>