<footer class="c-footer">
    <div class="o-wrap">
        <div class="c-footer__inner">
            <div class="c-footer__left">
                <svg class="c-brand  c-brand--footer">
                    <use xlink:href="#logo"></use>
                </svg>
            </div>
            <div class="c-footer__right">
                <div class="c-footer__row">
                    <nav class="c-footer__nav  c-footer__nav--primary">
                        <a class="c-footer__link" href="#">Consectetur</a>
                        <a class="c-footer__link" href="#">Ullamcorper</a>
                        <a class="c-footer__link" href="#">Nullam</a>
                        <a class="c-footer__link" href="#">Inceptos</a>
                        <a class="c-footer__link" href="#">Bibendum</a>
                    </nav>
                    <nav class="c-footer__nav  c-footer__nav--secondary">
                        <a class="c-footer__link" href="#">Consectetur</a>
                        <a class="c-footer__link" href="#">Ullamcorper</a>
                        <a class="c-footer__link" href="#">Nullam</a>
                        <a class="c-footer__link" href="#">Inceptos</a>
                        <a class="c-footer__link" href="#">Bibendum</a>
                    </nav>
                    <div class="c-footer__modal">
                        <button class="c-footer__modal-btn  c-button  c-button--tertiary  c-button--casereset  js-modal-open">
                            Click here to sign up
                            <svg class="c-icon  c-icon--arrow-forward">
                                <use xlink:href="#arrow-forward"></use>
                            </svg>
                        </button>
                        <ul class="c-social">
                            <li class="c-social__item">
                                <a href="">
                                    <svg class="c-icon  c-icon--social  c-icon--social-fb">
                                        <use xlink:href="#social-fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="c-social__item">
                                <a href="">
                                    <svg class="c-icon  c-icon--social  c-icon--social-insta">
                                        <use xlink:href="#social-insta"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="c-social__item">
                                <a href="">
                                    <svg class="c-icon  c-icon--social  c-icon--social-tw">
                                        <use xlink:href="#social-tw"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="c-social__item">
                                <a href="">
                                    <svg class="c-icon  c-icon--social  c-icon--social-yt">
                                        <use xlink:href="#social-yt"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
        
                <div class="c-footer__payment">
                    <ul class="c-payment">
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--paypal">
                                <use xlink:href="#payment-paypal"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--mastercard">
                                <use xlink:href="#payment-mastercard"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--visa">
                                <use xlink:href="#payment-visa"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--amex">
                                <use xlink:href="#payment-amex"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--maestro">
                                <use xlink:href="#payment-maestro"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--klarna">
                                <use xlink:href="#payment-klarna"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--apple">
                                <use xlink:href="#payment-apple"></use>
                            </svg>
                        </li>
                        <li class="c-payment__item">
                            <svg class="c-icon  c-icon--payment  c-icon--google">
                                <use xlink:href="#payment-google"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="c-footer__copyright">&copy;2019 Bark Ltd. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>