<footer class="c-footer">
    <div class="o-wrap">
        <div class="">
            <svg class="c-brand">
                <use xlink:href="#logo"></use>
            </svg>
        </div>
        <div class="">
            <nav class="">
                <a class="" href="#">Consectetur</a>
                <a class="" href="#">Ullamcorper</a>
                <a class="" href="#">Nullam</a>
                <a class="" href="#">Inceptos</a>
                <a class="" href="#">Bibendum</a>
                <a class="" href="#">Consectetur</a>
                <a class="" href="#">Ullamcorper</a>
                <a class="" href="#">Nullam</a>
                <a class="" href="#">Inceptos</a>
                <a class="" href="#">Bibendum</a>
            </nav>
        </div>
        <div class="">
            <button class="c-button  c-button--tertiary">
                Click here to sign up
                <svg class="c-icon  c-icon--arrow-forward">
                    <use xlink:href="#arrow-forward"></use>
                </svg>
            </button>
            <ul class="c-social">
                <li class="c-social__item">
                    <svg class="c-icon  c-icon--fb">
                        <use xlink:href="#social-fb"></use>
                    </svg>
                </li>
                <li class="c-social__item">
                    <svg class="c-icon  c-icon--insta">
                        <use xlink:href="#social-insta"></use>
                    </svg>
                </li>
                <li class="c-social__item">
                    <svg class="c-icon  c-icon--tw">
                        <use xlink:href="#social-tw"></use>
                    </svg>
                </li>
                <li class="c-social__item">
                    <svg class="c-icon  c-icon--yt">
                        <use xlink:href="#social-yt"></use>
                    </svg>
                </li>
            </ul>
        </div>

        <hr class="c-rule">

        <div class="">
            <ul class="c-payment">
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--paypal">
                        <use xlink:href="#payment-paypal"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--mastercard">
                        <use xlink:href="#payment-mastercard"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--visa">
                        <use xlink:href="#payment-visa"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--amex">
                        <use xlink:href="#payment-amex"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--maestro">
                        <use xlink:href="#payment-maestro"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--klarna">
                        <use xlink:href="#payment-klarna"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--apple">
                        <use xlink:href="#payment-apple"></use>
                    </svg>
                </li>
                <li class="c-payment__item">
                    <svg class="c-icon  c-icon--google">
                        <use xlink:href="#payment-google"></use>
                    </svg>
                </li>
            </ul>
            <p>&copy;2019 Bark Ltd. All Rights Reserved.</p>
        </div>
    </div>
</footer>