<header class="c-header">
    <div class="o-wrap">
        <div class="c-header__wrap">
            <a class="c-header__logo" href="/">
                <svg class="c-brand  c-brand--header">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <nav class="c-nav  js-nav">
                <a class="c-nav__link" href="#">Active</a>
                <a class="c-nav__link" href="#">Link One</a>
                <a class="c-nav__link" href="#">Link Two</a>
                <a class="c-nav__link" href="#">Link Three</a>
            </nav>
            <button class="c-header__toggle  js-toggle" type="button">
                <span class="c-header__toggle-line  c-header__toggle-line--top"></span>
                <span class="c-header__toggle-line  c-header__toggle-line--bottom"></span>
            </button>
        </div>
    </div>
    
</header>