<header class="c-header">
    <div class="o-wrap">
        <a href="">
            <svg class="c-brand">
                <use xlink:href="#logo"></use>
            </svg>
        </a>
        <nav class="">
            <a class="" href="">Active</a>
            <a class="" href="">Link one</a>
            <a class="" href="">Link two</a>
            <a class="" href="">Link three</a>
        </nav>
        <button class="" type="button">
            <span class=""></span>
            <span class=""></span>
            <span class=""></span>
        </button>
    </div>
</header>