<section class="">
    <div class="o-media">
        <div class="o-media__img  o-media__elem">
            <svg class="c-icon  c-icon--blob">
                <use xlink:href="#shape-blob"></use>
            </svg>
            <svg class="c-icon  c-icon--circle">
                <use xlink:href="#shape-circle"></use>
            </svg>
            <img class="" src="../assets/dog@2x.png" alt="Dog with it's tounge sticking out">
        </div>

        <div class="o-media_body  o-media__elem">
            <h2 class="">Ornare Vulputate Elit</h2>
            <p class="">
                Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
            <a class="c-button  c-button--primary" href="#">Learn More</a>
        </div>
    </div>
</section>