<div class="c-modal  js-modal-outer">
    <div class="c-modal__inner  js-modal-inner">
        <button class="c-modal__close  js-modal-close" type="button">X</button>
        <div class="c-modal__left">
            <!-- Image -->
            <div class="c-modal__image-wrap">
                <img class="c-modal__image" src="../assets/dog-popup@2x.png" alt="Dog in bear hat">
            </div>
        </div>
        <div class="c-modal__right">
            <form class="c-form  js-form">
                <h3 class="c-form__heading">Newsletter Sign Up</h3>

                <div class="c-form__item">
                    <input class="c-form__input  js-input" type="text" name="name" id="name" value="" tabindex="1">
                    <label class="c-form__label" for="name">Name</label>
                </div>

                <div class="c-form__item">
                    <span class="c-form__validation-msg"></span>
                    <input class="c-form__input  js-input  js-validate" type="email" name="email" id="email" value="" tabindex="2">
                    <label class="c-form__label" for="email">Email Address</label>
                </div>

                <p class="c-copy  c-copy--light  c-form__copy">Donec id elit non mi porta gravida at eget metus.</p>

                <button class="c-button  c-button--secondary  js-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>